html,body {
  background-color: $mainWhite;
  color:#555;
  font-family:'Lato', 'Arial', sans-sarif;
  font-weight:300;
  font-size:20px;
  text-rendering:optimazeLegibility;
  overflow-x: hidden;
}

body {

  @mixin atMediumBig {
    font-size: 18px;
  }

  @mixin atMediumSmall {
    font-size:16px;
  }
} 

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin: 0;

    @mixin atMediumSmall {
      font-size: 180%;
  }

  h2 {
    @mixin atMediumSmall {
      font-size: 150%;
  }
  }
    
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  section {
    padding: 80px 0;

    @mixin atMediumBig {
      padding: 60px 0;
    }

    @mixin atMediumSmall{
      padding: 30px 0;
    }

    @mixin atSmall {
      padding: 25px 0;
  }
}
  
  
  
  *:focus {
    outline:none;
  }


  @media only screen and (max-width:767px) {
    .col {
      width:100%;
      margin:0 0 1% 0;
    }
  }
 