/* edit how you want to use global html */

html {
  background-color: $mainWhite;
  color:#555;
  font-family:'Lato', 'Arial', sans-sarif;
  font-weight:300;
  font-size:20px;
  text-rendering:optimazeLegibility;
}

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  section {
    padding: 80px 0;
  }
  
  
  
  *:focus {
    outline:none;
  }

 