.icon-block {
    display:block;
}
  
.ion-big {
  font-size: 350%;
  display: block;
  color: $mainOrange;
  margin-bottom: 10px;
}

.ion-small {
  zoom: 0.67;
  margin-left: 30px;
  }

  .icon-inline {
    display: flex;
    margin-top: 80px;

    @mixin atMediumBig {
      margin-top: 60px;
  }

  @mixin atMediumSmall {
    margin-top: 30px;
}
    
  }

  .icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: $mainOrange;
    font-size: 120%;
    margin-right: 10px;

    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;

    @mixin atMediumBig {
      width: 17px;
      margin-right: 5px;
  }

  }