.features-section {

    &__subtitle {
        font-size: 110%;
        margin-bottom: 15px;
    }

    &__title-description {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;

        @mixin atMediumBig {
          width: 80%;
          margin-left:10%;  
        }

        @mixin atMediumSmall {
            width: 100%;
            margin-left:0%;;
        }
        
    }

    &__subtitle-description {
        font-size: 110%;
        margin-bottom: 15px;

    }

    &__bottom-margin {
        margin-bottom: 40px;
    }

}

.box p {
    font-size: 90%;
    line-height: 145%;
}