.features-section {

    &__title {
        font-size: 180%;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;

        &:after {
            display: block;
            height: 2px;
            background-color: $mainOrange;
            content: " ";
            width: 100px;
            margin: 30px auto 0 auto;
           
        }
    }

    &__subtitle {
        font-size: 110%;
        margin-bottom: 15px;
    }

    &__title-description {
        line-height: 145%;
        width: 70%;
        margin-left: 15%;
        
    }

    &__subtitle-description {
        font-size: 110%;
        margin-bottom: 15px;

    }

}

.box p {
    font-size: 90%;
    line-height: 145%;
}