.section-footer {
    background-color: #333;
    padding: 30px;
    font-size: 80%;

    p {
        color:$colorGrey;
        text-align:center;
        font-size:90%;
        margin-top:20px;
    }

    &__footer-nav {
        float: left;
        display: flex;

        @mixin atMediumSmall {
            float: none;
            justify-content:center;
        }


        li {
            margin-right: 20px;

            a:link,
            a:visited {
                border:0;
                color:$colorGrey;
                transition:color 0.2s;
        }

            a:hover,
            a:active {
                color:#ddd;
            }
        }

        li:last-child {
            margin-right: 0;
        }

        
    }

    &__social-links {
        float: right;
        display: flex;
        

        @mixin atMediumSmall {
            float: none;
            justify-content:center;
            margin-top: 15px;
        }

        li {
            margin-right: 20px;

            a:link,
            a:visited {
                font-size: 120%;
                color:$colorGrey;
        }
        }

        li:last-child {
            margin-right: 0;
        }

        
    }
}
.icon-facebook,
.icon-twitter,
.icon-googleplus,
.icon-instagram {
    transition:color 0.2s;
}

.icon-facebook:hover {
    color:#3b5998;
}

.icon-twitter:hover {
    color:#00aced;
}

.icon-googleplus:hover {
    color:#dd4b39;
}

.icon-instagram:hover {
    color:#517fa4;
}
