.section-plans {
    background-color: $mainLightGray;

    &__plan-box {
        background-color: $mainWhite;
        border-radius:5px;
        width:90%;
        margin-left:5%;
        box-shadow: 0 2px 2px #efefef;

        @mixin atMediumBig {
            width:100%;
            margin-left:0%;
        }

        div {
            padding: 15px;
            border-bottom: 1px solid #e8e8e8;

            &:first-child{
                background-color: #fcfcfc;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:last-child{
                text-align: center;
                border:none;
            }
        }

        & ul li {
            padding: 5px 0;
        }
    }

    &__plan-price {
        font-size: 300%;
        margin-bottom: 10px;
        font-weight: 100;
        color:$mainOrange;

        @mixin atMediumBig {
             font-size:300%;
        }

        span {
            font-size:30%;
            font-weight:300;
            
        }
    }

    &__plan-price-meal {
        font-size: 80%;
    }
}